<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmHWTqnRBpL-sbPKmWFx-hoe-LwV4fgf0</string>
	<key>GCM_SENDER_ID</key>
	<string>259290797269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uangkucatatan.app</string>
	<key>PROJECT_ID</key>
	<string>cata-ec99f</string>
	<key>STORAGE_BUCKET</key>
	<string>cata-ec99f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259290797269:ios:bc0602928fe136af0afe5c</string>
</dict>
</plist>