<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>We need camera access to take photos for your application.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need photo library access to select photos.</string>
    <key>NSContactsUsageDescription</key>
    <string>We need contacts access to select a contact.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>We need location access to provide better service.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>Kami perlu mendapatkan pengidentifikasi perangkat Anda untuk memberikan pengalaman iklan yang dipersonalisasi.</string>
</dict>
</plist>
